.dropdown__container {
    position: relative;

    width: 24px;
    height: 24px;
  }
  
  .dropdown__btn {
    display: block;
    
    all: unset;
    cursor: pointer;

    width: 24px;
    height: 24px;
  }
  
  .dropdown__btn img {
    display: inline-block;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .dropdown__content {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.23s linear;
    border: 2px solid #ebebeb;
    position: absolute;
    top: 24px;
    right: -4px;
    font-size: 16px;
    min-width: 150px;
    background: #fff;
    box-shadow: 0 0px 10px #8989892e;
    border-radius: 12px;
    padding: 0;
    transform: translateY(-5px);
    z-index: 100000;
  }

  
  .dropdown__content.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .dropdown__info button {
    all: unset;
  }
  
  .dropdown__info ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown__info ul li {
    padding: 12px 16px;
    font-size: 14px;
  }

  .dropdown__info ul li:hover{
    background-color: #e4e9fe7d;
  }

  .dropdown__info ul li span{
    display: flex;
    flex-direction: row;
    gap: 16px;
  }


  .dropdown__info ul li img{
    display: block;
    width: 24px;
    height: 24px;
  }

  .dropdown__info ul li p{
    display: block;
    margin: 0;
    padding: 0;

    width: 80px;

    color: #1C1C1C;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */

  }

  
  .dropdown__info ul li:last-child {
    border: none;
  }