/* <div className='bank_body'>
        <div className='bank_body-table'></div>
        <div className='bank_body-info'>
            <div className='doughnut-chart'></div>
            <div className='history-lines'></div>
        </div>
    </div> */

.bank_body {
  display: flex;
  flex-direction: row;

  gap: 30px;

  width: 100%;
  height: calc(100% - 176px);

  padding: 20px;
}

.bank_body-header {
  color: var(--Gray-800, #1F2937);
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 125% */


  margin: 0;
}

.categorty_title {
  position: relative;
}

.add_category {
  position: absolute;
  top: calc(50% - 10px);
  right: 10px;

  width: 20px;
  height: 20px;

  background-image: url("../../../../../assets/img/plus-small.svg");
}

/* .<div className="bank_body-header-control">
<div className="bank_body-header-search">
    <input type="text" />
    <button> <img src={Filter} alt="search_icon" /> Filter</button>
</div>
<div className="bank_body-header-download"> <img src={Download} alt="search_icon" /> Download</div>
</div> */

.bank_body-header-control {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  /* margin-top: 16px; */
}

.bank_body-header-search {
  display: flex;
  flex-direction: row;

  gap: 12px;

  position: relative;
}

.bank_body-header-search::before {
  position: absolute;
  top: calc(50% - 12px);
  left: 12px;

  content: "";

  width: 24px;
  height: 24px;

  background-image: url("../../../../../assets/img/Search.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  pointer-events: none;
}

.bank_body-header-search input {
  width: 320px;

  padding: 8px 16px 8px 40px;

  border-radius: var(--radius-8, 8px);
  border: 1px solid var(--Stroke, #e8e8e8);
  background: var(--BG-Input, #fff);

  transition: all 0.3s ease-in-out;
}

.bank_body-header-search input:focus {
  outline: none;
  border: 1px solid #aaaaaa;
}

.bank_body-header-search button {
  border-radius: 8px;
  border: 1px solid var(--Stroke, #e8e8e8);
  background: var(--BG-Input, #fff);

  transition: all 0.3s ease-in-out;
  padding: 8px;
}

.bank_body-header-search button:hover {
  border: 1px solid #aaaaaa;
}

.bank_body-header-download {
  display: block;

  white-space: nowrap;

  width: fit-content;
  padding: 6px 12px;

  height: 42px;

  color: var(--Txt-primary, #1c1c1c);
  font-family: "Nunito";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 114.286% */
  letter-spacing: 0.28px;

  border-radius: 8px;
  border: 1px solid var(--Btn-secondary-default, #e8e8e8);

  transition: all 0.3s ease-in-out;

  cursor: pointer;

  background-color: white;
}

.bank_body-header-download img {
  margin-right: 4px;
  margin-top: -4px;
}

.bank_body-header-download:hover {
  border: 1px solid #aaaaaa;
}

.bank_body-table {
  width: calc(100% - 486px);
  height: 100%;
  overflow: hidden;

  border-radius: 12px;
  border: 1px solid var(--Stroke, #e8e8e8);
  background: var(--BG-menu-nav, #f9fafb);

  border: 1px solid #e5e5ea;

  padding: 20px;

  display: flex;
  flex-direction: column;
}

/* CSS файл или вставьте стили в соответствующий блок в вашем проекте */

.scrollable-container {
  height: 100%; /* Установите желаемую максимальную высоту */
  /* overflow-y: scroll; */
  margin-top: 20px;
  position: relative;
}

.scrollable-container > table:first-of-type {
  /* background-color: #f1f1f1; */
  width: 100%;
  height: 24px;
}

.scrollable-container > table:first-of-type tr {
  display: flex;
  flex-direction: row;
}

.scrollable-container > table:first-of-type th {
  color: var(--fg-foreground-tertiary, #717a8c);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 153.846% */
  letter-spacing: -0.08px;

  padding: 0;
  padding-left: 32px;

  position: relative;

  display: block;
  width: 20%;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.scrollable-container > table:first-of-type th:hover {
  color: #1c1c1c;
}

.scrollable-container > table:first-of-type th::after {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 0;
  left: 0;

  content: "";

  background-image: url("../../../../../assets/img/sort.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.table-body {
  width: 100%;
  height: calc(100% - 100px);
  overflow-y: scroll;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.table-body::-webkit-scrollbar {
  width: 5px; /* Ширина полосы прокрутки */
}

/* Стилизация ползунка скроллбара в вебките браузерах */
.table-body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--Txt-secondary, #a4a4a4);
}

/* Стилизация трека (фона) скроллбара в вебките браузерах */
.table-body::-webkit-scrollbar-track {
  background-color: #f9fafb; /* Цвет фона скроллбара */
}

.table-body table {
  width: 100%;
}

.table-body table td {
  color: var(--Txt-primary, #1c1c1c);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.24px;

  text-align: left;

  padding: 12px 0px 12px 10px;
}

/* thead {
    background-color: #f1f1f1;
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
  } */

thead th:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 12px;
}

thead th:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 12px;
}

thead th {
  text-align: left;
  padding: 10px;
}

tbody {
  height: 100%;
}

tbody td {
  /* padding: 10px; */

  /* border: 1px solid #ddd; */
}

/* Установите одинаковую ширину для каждой колонки */
tbody td:nth-child(1),
tbody td:nth-child(2),
tbody td:nth-child(3),
tbody td:nth-child(4),
tbody td:nth-child(5) {
  width: 20%;
}

/* Задайте цвет текста для столбца Status */
tbody td:nth-child(5) > span {
  width: 120px;

  display: block;

  color: var(--Txt-primary, #1c1c1c) !important;
  text-align: center;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: 0.28px;

  padding: 6px 12px;

  border-radius: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 8px;
}

tbody td:nth-child(5) span span{
  width: 6px !important;
  height: 6px !important;

  border-radius: 20px;
  display: block;
}

/* Зеленый цвет для статуса Success */
tbody td:nth-child(5) span[style*="green"] span{
  background-color: #2EBDAB;
}

/* Желтый цвет для статуса In Progress */
tbody td:nth-child(5) span[style*="yellow"] span {
  background-color: #EDA80D;
}

/* Красный цвет для статуса Error */
tbody td:nth-child(5) span[style*="red"] span {
  background-color: #FF3A29;
}

.bank_body-info {
  width: 486px;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.doughnut-chart {
  height: 256px;
  padding: 20px;

  border-radius: 12px;

  border: 1px solid var(--Stroke, #e8e8e8);
  background: var(--BG-menu-nav, #f9fafb);

  display: flex;
  flex-direction: column;
}

.chart_container {
  width: 164px;
  height: 164px;

  margin: 0 auto;
  margin-top: 18px;

  position: relative;
}

.chart_container .disk_analytics {
  width: 130px;
  height: 130px;

  top: calc(50% - 65px);
  left: calc(50% - 65px);
}

.chart_container .disk_analytics .disk_analytics_title {
  color: var(--Txt-secondary, #a4a4a4);
  text-align: center;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.chart_container .disk_analytics .disk_analytics_all {
  color: var(--Gray-800, #1f2937);
  text-align: center;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
}

.chart_container .disk_analytics .disk_analytics_space {
  color: var(--Gray-800, #1f2937);
  text-align: center;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
}

.chart_row {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 28px;
}

.chart_inspect {
  /* margin-top: auto; */
  justify-self: flex-end;
}

.chart_inspect h1 {
  color: var(--Gray-600, #4b5563);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.chart_inspect p {
  color: var(--Gray-800, #1f2937);
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}

.chart_inspect ul {
  margin-top: 25px;

  padding-top: 25px;

  border-top: 1px solid #a4a4a4;

  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  align-items: center;
  justify-content: center;

  /* margin-top: auto; */

  width: 100%;
}

.chart_inspect ul li {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 4px;

  width: fit-content;
}

.chart_inspect ul li > span:not(.dot_container){
  display: flex;
  flex-direction: row;

  gap: 8px;

  color: var(--Gray-600, #4B5563);
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */

  margin-left: 20px;
}

.chart_inspect ul li .dot_container {
  width: 14px !important;
  height: 14px !important;

  box-sizing: content-box;

  border-radius: 50%;
  display: block;

  position: relative;
}

/* .chart_inspect ul li .dot_inner {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);

  width: 7px;
  height: 7px;

  border-radius: 50%;

  display: block;

  background-color: rgba(255, 255, 255, 0.74) !important;
} */

.chart_inspect ul li p {
  color: #838383;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.411px; /* 138.652% */

  width: 65px;
}

.history-lines {
  height: calc(100% - 256px);
  padding: 20px;
  padding-right: 8px;

  border-radius: 32px;
  border: 1px solid #e5e5ea;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  border-radius: 12px;
  border: 1px solid var(--Stroke, #e8e8e8);
  background: var(--BG-menu-nav, #f9fafb);
}

.line-chart::-webkit-scrollbar {
  width: 5px; /* Ширина полосы прокрутки */
}

/* Стилизация ползунка скроллбара в вебките браузерах */
.line-chart::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--Txt-secondary, #a4a4a4);
}

/* Стилизация трека (фона) скроллбара в вебките браузерах */
.line-chart::-webkit-scrollbar-track {
  background-color: #f9fafb; /* Цвет фона скроллбара */
}

.huge {
  height: 100% !important;
}


.header_select::after{
  display: none;
}

.header_select{
  padding-left: 0px !important;

  width: 20px !important;
}

.bank_body-table td:first-of-type{
  padding-left: 0px !important;

  width: 20px !important;
}

.bank_body-header-assign{
  color: var(--Light-BG, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: -0.24px;

padding: 4px 16px;

border-radius: 8px;

background: var(--Accent, #4876F9);


  margin-left: auto;
  margin-right: 16px;
}