.drop_wrapper_common{
    display: flex;
    align-items: center;

    width: 100%;
    
    /* border-radius: 14px; */
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);

    border: 1px solid rgba(151, 174, 194, 0.589);

    opacity: 1;

    
    border-radius: 14px;
}


.drop_conteiner_common{
    position: relative;
    width: 100%;
    height: 40px;
}


.drop_conteiner-trigger_common{
    border-radius: 14px;

    width: 100%;
    line-height: 40px;

    padding: 0;
    margin: 0;

    border: none;
    transition: box-shadow .4s ease;
    cursor: pointer;
    
    background-color: white;
    
    /* border-radius: 14px 0px 0px 14px; */
}


.menu-trigger_common span{
    font-family: 'Poppins Semibold';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
    margin: 0 10px;
    background-color: none;
}

.drop_conteiner-menu_common{
    background: #fff;
    /* border-radius: 12px; */
    position: absolute;
    top: 50px;
    width: 100%;
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
    opacity: 0;
    text-align: center;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity .4s ease, transform .4s ease, visibility .4s ease;

    
    border-radius: 14px;
}

.drop_menu-groups_common{
    list-style-type: none;
    width: 100%;
    padding: 20px 0px;
    margin: 0 auto;
}
.drop_menu-group_common{
    cursor: pointer;
}

.drop_menu-group_common + .drop_menu-group_common{
    margin-top: 15px;
}


.drop_conteiner-menu__active_common{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    z-index: 1;
}

a{
    text-decoration: none;
    color: #151515;
}