.drag_plate{
    color: var(--txt-btn-primary, #FFF);
    font-family: 'Nunito';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.28px;

    width: 108px;
    height: 16px;

    padding: 8px 16px;
  
    border-radius: 38px;
    background: var(--btn-primary-default, #4876F9);

    box-sizing: content-box;

  
    

    text-align: center;
}

.drag_container{
    box-sizing: content-box;
    position: absolute;
    top: -100000px;
    left: -100000px;
}


.drag_plate.multy:before{
    position: absolute;
    top: 0px;
    left: 80%;

    background-color: #4876F9;
    opacity: .4;

    border-radius: 38px;

    content: "";

    height: 32px;
    width: 27%;
}


.drag_plate.multy:after{
    position: absolute;
    top: 0px;
    left: 80%;


    background-color: #4876F9;
    opacity: .3;

    border-radius: 38px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

    content: "";


    height: 32px;
    width: 33%;
}