.worker_container {
  width: 100%;
  height: 100vh;

  position: relative;
}

.worker_container__activity {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 30px 0px;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;

  z-index: 100000;
  background-color: white;
}

.worker_container__activity > div {
  padding: 0 28px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.worker_container__activity > div:nth-of-type(2) {
  border-left: 1px solid #E8E8E8;
}

.worker_container__activity_btn {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 24px;
  height: 24px;

  background-image: url("../../../assets/img/Close.svg");
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  cursor: pointer;
}

.worker_container__activity_title {
  color: var(--Txt-primary, #1c1c1c);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.38px;
}

.worker_container__activity_left {
  width: 400px !important;
}

.worker_container__activity_calendar {
  height: 100%;
}

/* <div className="worker_container__activity">
          <button className="worker_container__activity_btn"></button>
          <div className="worker_container__activity_left">
            <h1 className="worker_container__activity_title"></h1>
          </div>
          <div className="worker_container__activity_right">
            <h1 className="worker_container__activity_title"></h1>
            <div className="worker_container__activity_calendar">
              <ReactBigCalendar />
            </div>
          </div>
        </div> */

.rbc-event-content {
  color: var(--Txt-primary, #1c1c1c);
  text-align: left;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */

  background-color: rgba(255, 255, 255, 0);

  width: 100%;
  overflow: hidden;
}

.rbc-event {
  background-color: rgba(255, 255, 255, 0.311);

  position: relative;

  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 8px 12px;
  padding-left: 32px;

  border-radius: 6px !important;
}

.rbc-event::before {
  position: absolute;
  top: 20%;
  left: 12px;

  width: 4px;
  height: 60%;

  content: "";

  border-radius: 4px;
  background-color: #ffffff;
}

.rbc-row:not(:first-of-type) {
  margin-top: 4px;
}

.rbc-selected {
  outline: none !important;
}

.rbc-date-cell {
  text-align: center;
  padding: 0;

  color: var(--Txt-primary, #1c1c1c);
  text-align: center;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 100%; /* 16px */

  padding-top: 16px;
}

/* worker_container__main */

.worker_container__main {
  display: flex;
  flex-direction: row;
  gap: 28px;

  width: 100%;
  height: 100%;

  padding: 28px;
}

.worker_container__main > div {
  /* border: 1px solid black; */

  width: calc(100% - 415px);
}

.worker_container__main_left {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.worker_container__main_right {
  width: 415px !important;
}

.worker_container__main_left_segment_graphs {
  display: flex;
  flex-direction: row;
  gap: 20px;

  width: 100%;
  height: 318px;

  /* border: 1px solid black; */
}

.worker_container__main_left_segment_graphs_element .bar_body {
  border-radius: 12px;
  border: 1px solid var(--Stroke, #e8e8e8);
  background: var(--BG-menu-nav, #f9fafb);

  padding: 12px 20px;

  width: 100%;
}

.worker_container__main_left_segment_graphs_element:last-of-type {
  width: calc(100% - 320px);
}

.worker_container__main_left_segment_graphs_element:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;

  width: 320px;
  height: 100%;
}

.worker_container__main_left_segment_graphs_element .company_row--element{
  height: calc(50% - 10px);
  position: relative;

  overflow: hidden;
}

.worker_container__main_left_segment_graphs_element .company_row--element_grap{
  height: 80%;
  width: 90%;

  position: absolute;
  top: 30px;
  left: 5%;

  opacity: .85;
}

.worker_container__main_left_segment_graphs_element .chart_inspect {
  margin-top: auto;
}

.worker_container__main_left_segment_graphs_element .chart_container {
  width: 190px;
  height: 190px;
}

.worker_container__main_left_segment_graphs_element .doughnut-chart {
  height: 100%;
}

.worker_container__main_left_segment_graphs_element .disk_analytics--unhover {
  gap: 4px;
}

.worker_container__main_left_segment_graphs_element .disk_analytics_work {
  color: var(--Txt-primary, #1c1c1c);
  text-align: center;
  font-family: Nunito;
  font-size: 11px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.worker_container__main_left_segment_graphs_element .disk_analytics_title {
  color: var(--Txt-primary, #1c1c1c);
  text-align: center;
  font-family: Nunito;
  font-size: 32px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
}

.worker_container__main_left_segment_graphs_element .disk_analytics_space {
  color: var(--Txt-secondary, #a4a4a4) !important;
  text-align: center;
  font-family: Nunito !important;
  font-size: 11px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

.worker_container__main_left_segment .navigation_search_input input:focus {
  outline: none;
  width: 246px !important;
  padding-left: 4px !important;
}

.worker_container__main_left_segment .navigation_search_input:has(input:focus) {
  border: 1px solid var(--txt-accent, #e8e8e8);
  width: 302px !important;
}

.worker_table_header {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.worker_table_header__btn:nth-of-type(2) {
  margin-left: auto;
}

.worker_table_header__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 8px 16px;
  width: fit-content;
  height: fit-content;

  color: var(--Txt-primary, #1c1c1c);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.24px;

  border-radius: 8px;
  border: 1px solid var(--Btn-secondary-default, #e8e8e8);

  background-color: white;

  transition: all 0.3s ease-in-out;
}

.worker_table_header__btn.blue {
  background-color: #4876f9;
  color: white;
  border: 1px solid #4876f9;
}

.worker_table_header__btn:hover {
  background-color: #f6f6f6;
}

.worker_table_header__btn.blue:hover {
  opacity: 0.8;
  background-color: #4876f9;
}

.worker_container_title:has(button) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.worker_container_title button {
  color: var(--Txt-btn, #fff);
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */

  padding: 8px 16px;

  border-radius: 8px;
  border: 1px solid var(--Txt-accent, #4876f9);
  background: var(--Accent, #4876f9);
}

/* worker_container_activities-list">
            <li className="worker_container_activities-list__item"> */

.worker_container_activities-list {
  border-radius: 12px;
  border: 1px solid var(--Stroke, #e8e8e8);
  background: var(--BG-menu-nav, #f9fafb);

  height: calc(100% - 50px);

  overflow: auto;

  padding: 24px;
  list-style-type: none;

  display: flex;
  flex-direction: column;

  gap: 12px;
}

.worker_container_activities-list {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none; /* IE и Edge */
}

.worker_container_activities-list::-webkit-scrollbar {
  width: 0;
}

.worker_container_activities-list::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.worker_container_activities-list__item {
  border-radius: 12px;
  border: 1px solid var(--Stroke, #e8e8e8);
  background: var(--BG, #fff);

  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.worker_container_activities-list__item_title {
  display: flex;
  flex-direction: row;
  gap: 6px;

  align-items: center;
}

.worker_container_activities-list__item_title img {
  width: 32px;
  height: 32px;

  object-fit: cover;

  border-radius: 50%;
}

.worker_container_activities-list__item_title-name {
  margin: 0;
  margin-left: 6px;

  color: var(--Txt-primary, #1c1c1c);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}

.worker_container_activities-list__item_title-shortTheme {
  margin: 0;
  padding: 0;

  color: var(--Txt-secondary, #a4a4a4);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}

.worker_container_activities-list__item_title-dot {
  width: 6px;
  height: 6px;

  background-color: #4876f9;
  border-radius: 50%;
}

.worker_container_activities-list__item_title-time {
  color: var(--Txt-accent, #4876f9);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}

/* <div className="worker_container_activities-list__item_body">
                <h2 className="worker_container_activities-list__item_body-title"></h2>
              </div> */

.worker_container_activities-list__item_body {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 6px 6px 6px 18px;

  border-left: 1px solid black;

  margin-left: 12px;
  margin-bottom: 9px;

  width: 95%;
}

.worker_container_activities-list__item_body-title {
  color: var(--Txt-secondary, #a4a4a4);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */

  margin: 0;

  text-overflow: ellipsis;
  overflow: hidden;
}

.worker_container_activities-list__item_body-project {
  overflow: hidden;
  color: var(--Txt-primary, #1c1c1c);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */

  padding: 0;

  margin: 0;
}

.worker_container_activities-list__item_body-description {
  overflow: hidden;
  color: var(--Txt-secondary, #a4a4a4);
  text-overflow: ellipsis;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */

  margin: 0;
  margin-top: -6px;
}

/* <div className="image_list--container">
      <ul>
        {displayedImages.map((link, index) => (
          <li key={index}>
            <img src={link} alt={`Image_activity_icon_${index + 1}`} />
          </li>
        ))}
        {/* Если есть оставшиеся изображения, выводим их количество
        {remainingImagesCount > 0 && (
          <li>
            <p>{`+${remainingImagesCount} more images`}</p>
          </li>
        )}
      </ul>
    </div> */

.image_list--container {
  width: 100%;
  height: 120px;
}

.image_list--container ul {
  display: flex;
  flex-direction: row;
  gap: 9px;

  align-items: center;
}

.image_list--container:has(li) {
  margin-top: 12px;
}

.image_list--container li {
  width: 100%;
  overflow: hidden;

  border-radius: 6px;
  border: px solid var(--Txt-primary, #1c1c1c);

  background-color: #f5f5f5;
  height: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image_list--container li img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.image_list--container li {
  color: var(--Txt-secondary, #222222);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}



.tree_container{
  position: absolute;
  top: 0;
  left: 0;

  z-index: 100000;

  background: var(--BG-popup, rgba(150, 168, 201, 0.3));
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tree_container:has( .tree_body.huge){
  position: fixed;
  z-index: 10000000000;
}

.tree_body{
  background-color: white;

  width: fit-content;
  border-radius: 12px;
  overflow: hidden;

  position: relative;
}

.tree_body.huge{
  width: 100%;
  height: 100%;
}

.tree_body__header{
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 24px;

  background-color: #f8f8f893;
  z-index: 100000;

  width: 100%;
}

.tree_body__header-title{
  color: var(--Txt-primary, #1C1C1C);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 114.286% */

  margin: 0;
}

.tree_body__header-title span{
  color: var(--Txt-secondary, #A4A4A4);
font-family: Nunito;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
letter-spacing: 0.5px;

display: block;

margin-top: 4px;
}

.tree_body__header-control{
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 20px
}

.tree_body__header-control_btn{
  width: 36px;
  height: 36px;
  background-color: white;

  border-radius: 50%;

  border: 1px solid #e4e4e4;


  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tree_body__header-control_btn.screen{
  background-image: url('../../../assets/img/ScreenSizeBigger.svg');
}

.tree_body__header-control_btn.huge{
  background-image: url('../../../assets/img/ScreenSize.svg');
  height: 36px !important;
}

.tree_body__header-control_btn.close{
  background-image: url('../../../assets/img/ClosePopup.svg');
}

.tree_body__header-control_btn:hover{
  opacity: .55;
}

.tree_body.huge .react-flow-container{
  width: 100%;
  height: 100%;
}


.worker_container__activity_left .rdp {
  box-shadow: none !important;
  border: 1px solid var(--Stroke, #E8E8E8);
background: var(--BG, #FFF);
}




.tree_body__preview{
  position: absolute;
  top: 112px;
  left: 28px;

  width: 300px;
  display: flex;
  flex-direction: column;

  gap: 12px;

  border-radius: 12px;
  background: var(--BG-menu-nav, #ffffff) !important;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.20);


  z-index: 100000;

  padding: 12px;
}

.tree_body__preview .company_add_search__input + .company_add_search__input{
  margin-top: 0;
}

.tree_save{
  color: var(--Txt-btn-primary, #FFF);
text-align: center;
font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 114.286% */
letter-spacing: 0.28px;
border-radius: 8px;
background: var(--Btn-primary-default, #4876F9);

width: 100%;
padding: 12px 16px;
}



.worker_container__activity_left .rdp {
  width: 324px !important;

  padding: 16px !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.worker_name_preview{
  color: var(--Txt-primary, #1C1C1C);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 100% */
letter-spacing: 0.38px;

margin-top: 12px;
}



.tree_body__header:has( > .tree_body__header-title > .worker_name_preview) + .tree_body__preview{
  top: 142px;
}