/* <div className="multiple_wrapper">
<div className="multiple_container">
  <div className="multiple_container-header">
    <h1 className="multiple_container-header_title">Edit</h1>
    <div className="multiple_container-header_close"></div>
  </div>
  <div className="multiple_container-body">
    <div className="inputs_row">
      <div className="company_add_search__input">
        <label
          htmlFor="worker_phone"
          className="company_add_search__label"
        >
          Company
          <input
            type="text"
            id="worker_phone"
            className="company_add_search__input"
            onChange={() => {}}
            value={"Sony"}
            placeholder="Enter phone number"
            readOnly={true}
          />
        </label>
      </div>
      <div className="company_add_search__input">
        <label
          htmlFor="worker_email"
          className="company_add_search__label"
        >
          Department
          <input
            type="text"
            id="worker_email"
            className="company_add_search__input"
            onChange={() => {}}
            value={"IT"}
            placeholder="Enter email"
            readOnly={true}
          />
        </label>
      </div>
    </div>
  </div>
</div>
</div> */

.multiple_wrapper {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 1000000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--BG-popup, rgba(150, 168, 201, 0.3));
  backdrop-filter: blur(8px);
}

.multiple_container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;

  margin-bottom: 30px;
}

.multiple_container-header_title {
  color: var(--Txt-primary, #1c1c1c);
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 26.4px */
}

.multiple_container-header_close {
  width: 28px;
  height: 28px;

  background-image: url("../../../../assets/img/Close.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  cursor: pointer;
}

.multiple_container {
  background-color: white;

  border-radius: 12px;
  background: var(--BG, #fff);

  padding: 40px;

  width: 730px;
}

.multiple_container .company_add_search__input {
  margin-top: 16px;
}

/* <div className="inputs_row">
                <div className="company_add_search__input">
                  <label
                    htmlFor="worker_phone"
                    className="company_add_search__label"
                  >
                    <img src={'https://memetricsserver.onrender.com' + user.image} alt="icon worker" />
                    <h1 className="worker_header">
                        {user.name} {user.surname}
                      <span className="worker_position">{user.position}</span>
                    </h1>
                    <div className="worker_close_list"></div>
                  </label>
                </div>
              </div> */

.multiple_container .company_add_search__input.list .company_add_search__label {
  display: flex;
  flex-direction: row;
  gap: 16px;

  padding: 0 8px;
}

.multiple_container .company_add_search__input.list img {
  border-radius: 50%;
}

.multiple_container .company_add_search__input.list h1 {
  color: var(--Txt-primary, #1c1c1c);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.multiple_container .company_add_search__input.list span {
  color: var(--Txt-secondary, #a4a4a4);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */

  display: block;
}

.multiple_container .company_add_search__input.list .worker_close_list{
    display: block;
    width: 24px;
    height: 24px;

    margin-left: auto;

    background-image: url('../../../../assets/img/Close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}